bcrypt
beautifulsoup4
fakeredis
fastapi
httpx<0.28
langchain
langchain-community
langchain-core
langgraph
langsmith
neo4j
networkx
ollama
pyotp
networkx
python-multipart
redis
requests
streamlit
uvicorn
websockets
