name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install build
      - name: Lint
        run: |
          flake8 jarvis/logging
          black --check jarvis/logging
      - name: Test
        run: pytest
      - name: Packaging
        run: python -m build --sdist --wheel

